<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Пожертвовать</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/donate.css">
    <link rel="stylesheet" href="css/reg.css">
  </head>
  <body>
    <div class="nav">
      <div class="donate_btn">
        <a href="donate.html">Пожертвовать</a>
      </div>

      <div class="volunteer_btn">
        <a href="volunteer.html">Стать волонтером</a>
      </div>

      <div class="reg_btns">
        <a href="#log-zatemnenie" class="login_btn">Войти</a>
        <a href="#reg-zatemnenie" class="reg_btn">Регистрация</a>
      </div>

      <div class="exit_btn">
        <a href="#">Выйти</a>
      </div>

      <div id="log-zatemnenie">
        <form method="post">
          <div class="login-form-container">
            <div class="form-fields">
              <div class="form-field">
                <input class="blocks" type="phone number" placeholder="Username">
              </div>
              <div class="form-field">
                <input class="blocks" type="password" placeholder="Пароль">
              </div>
            </div>
            <button class="reg_button" style="margin: 0px">Войти</button>
            <a href="" class="close"><img src="css/imgs/exit.png" alt=""></a>
          </div>
        </form>
      </div>

      <div id="reg-zatemnenie">
        <form method="post">
          <div id="register-form-container">
            <div class="form-fields">
              <div class="form-field">
                <input class="blocks" type="text" placeholder="Username">
              </div>
              <div class="form-field">
                <input class="blocks" type="password" placeholder="Пароль">
              </div>
              <div class="form-field">
                <input class="blocks" type="password" placeholder="Повторите пароль">
              </div>
            </div>
            <div class="form-buttons">
              <button class="reg_button" type="submit" style="margin: 0px">Регистрация</button>
            </div>
            <div class="rule">
              <a href="" class="close"><img src="css/imgs/exit.png" alt=""></a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="donate_cards">
      <div class="donate_card">
        <img src="https://pbs.twimg.com/media/DmT5jImWwAAj6-i.jpg:large" alt="">

        <div class="donate_info">
          <h2>Польза благотворительности</h2>
          <p>О пользе благотворительности известно давно. Помогая нуждающимся деньгами, временем и другими ресурсами, человек не только становится лучше в моральном плане, но и следует правильному жизненному ориентиру.</p>
          <a href="#donate-btn">Пожертвовать</a>
        </div>
      </div>

      <div class="donate_card">
        <img src="https://pbs.twimg.com/media/DmT5jImWwAAj6-i.jpg:large" alt="">

        <div class="donate_info">
          <h2>Польза благотворительности</h2>
          <p>О пользе благотворительности известно давно. Помогая нуждающимся деньгами, временем и другими ресурсами, человек не только становится лучше в моральном плане, но и следует правильному жизненному ориентиру.</p>
          <a href="#donate-btn">Пожертвовать</a>
        </div>
      </div>

      <div class="donate_card">
        <img src="https://pbs.twimg.com/media/DmT5jImWwAAj6-i.jpg:large" alt="">

        <div class="donate_info">
          <h2>Польза благотворительности</h2>
          <p>О пользе благотворительности известно давно. Помогая нуждающимся деньгами, временем и другими ресурсами, человек не только становится лучше в моральном плане, но и следует правильному жизненному ориентиру.</p>
          <a href="#donate-btn">Пожертвовать</a>
        </div>
      </div>
    </div>

    <div id="donate-btn">

  <form method="post">
<div class="donate-container">
  <div class="donate-info">
    <h2>О пользе благотворительности известно давно.</h2>
    <p>Сумма пожертвования:</p>
    <input type="text" name="" value="">
  </div>
<div class="donate-btn-container">
  <a href="">Пожертвовать</a>
</div>
  <a href="" class="close"><img src="css/imgs/exit.png" alt="exit"></a>
  </div>
  </form>
</div>
  </body>
</html>
